{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <table class="table" id="preferenceTable">
    <thead>
      <tr>
        <th scope="col">Room: {{room}}</th>
        {% for game in games %}
        <th scope="col">{{game}}</th>
        {% endfor %}
      </tr>
    </thead>
  </table>
  {% if isCreator %}
  <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      id="assignBtn"
    >Assign Gamers!</button>
  {% endif %}
</div>
<div id="results"></div>
<script type="text/javascript">
  var socketio = io();

  const tableRef = document.getElementById("preferenceTable");

  const createRow = (name, scores) => {
    headers = document.getElementsByTagName("th");
    console.log("Headers: " + headers[1].innerHTML);
    // Insert a row at the end of the table
    let newRow = tableRef.insertRow(-1);
    let newCell = newRow.insertCell(0);
    let newText = document.createTextNode(name);
    newCell.appendChild(newText);

    // Insert a cell in the row at index 0
    for (var i = 1; i < headers.length; i++) {
      let columnName = headers[i].innerHTML;
      newCell = newRow.insertCell(i);
      newText = document.createTextNode(scores[columnName]);
      newCell.appendChild(newText);
    }
    console.log("send");
  };

  $(document).ready(function() {
    // Attach a click event handler to a button with ID "myButton"
    $("#assignBtn").on("click", function() {
      // Code to be executed when the button is clicked
      console.log("Assiging")
      $("#results").empty();
      const content = `
      <div class="text" id="solution">
          <span>
              <strong>Calculating Results...</strong>
          </span>
      </div>
      `;
      $('#results').append(content);

      socketio.emit("assign");
    });

  });

  socketio.on("message", (data) => {
    console.log(data);
    createRow(data.name, data.scores);
  });

  socketio.on("solution", (solution) => {
    console.log("Solution")
    $("#solution").empty()

    $.each(solution, function(index, value) {
      $('#solution').append(`
      <span>
        <strong>${index}: ${value.toString()}</strong>
      </span>
      <br />
      `)
    });
  });

  </script>
{% endblock %}
